@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext");

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin-left: calc(100vw - 100%);
}

body {
  font-size: 1.6rem;
  font-weight: 600;
  color: #41434d;
  font-family: "Open Sans", sans-serif;
  background-color: #f1f2f7;
}
body.modal-active {
  overflow: hidden;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #e8e9ed;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 500;
  margin-left: calc(100vw - 100%);
}

.header-container {
  max-width: 1100px;
  margin: 0 auto;
}

.results {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.results span {
  color: #df1335;
  margin: 0 20px;
  font-size: 1.6rem;
}

.results p {
  font-size: 1.4rem;
}

main {
  padding-top: 110px;
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.more {
  display: none;
}
.search-bar {
  position: relative;
}
.search-bar .recipe__save {
  right: 10px;
  background: transparent;
}
.search-bar .recipe__save .recipe__save-icon {
  background-color: #a1a199;
  transition: all 0.3s ease-in-out;
}
.search-bar .recipe__save .recipe__save-number {
  position: absolute;
  color: #fff;
  font-size: 1.2rem;
  background-color: #ecd211;
  height: 20px;
  border-radius: 10px;
  padding-top: 1px;
  width: 20px;
  text-align: center;
  top: 5px;
  right: 0;
}
.search-bar .recipe__save:hover .recipe__save-icon {
  background-color: #d6d0bf;
}
